
$info-background: #3498db !default;
$success-background: #2ecc71 !default;
$error-background: #e74c3c !default;
$warning-background: #f39c12 !default;
$notify-background: #333 !default;

$border-radius: 5px !default;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

.v-notify-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.v-notify-item {
  width: 20em;
  padding: 15px;
  @include border-radius($border-radius);
  margin-bottom: 15px;
  @include opacity(0.8);

  &:hover {
    opacity: 1;
  }
}

.vnotify-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.v-notify {
  &-info {
    background: $info-background;
    color: #fff;
  }

  &-success {
    background: $success-background;
    color: #fff;
  }

  &-error {
    background: $error-background;
    color: #fff;
  }

  &-warning {
    background: $warning-background;
    color: #fff;
  }

  &-notify {
    background: $notify-background;
    color: #fff;
  }
}
